<div class="p-5 mb-4 bg-light rounded-3 text-center text-white mt-5" id="jumbotron">
  <div class="container-fluid py-5">
    <h1 class="display-5">Alpha-blog</h1>
    <p class="col-md-12 fs-4">
      Using a series of utilities, you can create this jumbotron, just
      like the one in previous versions of Bootstrap. Check out the
      examples below for how you can remix and restyle it to your liking.
    </p>
    <%= link_to "Sign up!", signup_path, class: 'btn btn-success btn-lg' %>
  </div>
</div>
